*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

header{
    font-family: 'Nunito', sans-serif;
    margin : 30px 30px;
    text-align: center;
    color:rgb(0, 0, 75);
}

h2{
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-size: 1rem;
}

.main-container{
    margin:20px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.cuadrado, .triangulo, .circulo{
   
    margin:20px 20px;
    padding: 20px 20px;
    background-color:#fff7ef;
}


p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    margin-top: 10px;
}

label{
    margin:30px;
}

button{
    padding: 7px 7px;
    font-family:'Nunito', sans-serif; 
    font-weight: bold;
    font-size: 0.9rem;
    margin-top:18px;
    margin-left: 25px;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#InputCuadrado, #InputTriangulo1, #InputTriangulo2, 
#InputTriangulobase, #InputTrianguloaltura, #InputCirculo{
    margin:30px;
    padding: 10px;
  
}

label{
    font-family: 'Nunito', sans-serif;
}

