*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

header{
    font-family: 'Nunito', sans-serif;
    margin : 30px 30px;
    text-align: center;
    color:rgb(0, 0, 75);
}

h2{
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-size: 1rem;
}

.main-container{
    margin:20px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.cuadrado, .triangulo, .circulo{
   
    margin:20px 20px;
    padding: 20px 20px;
    background-color:#FFF3E8;
}


p{
    font-family: 'Nunito', sans-serif;;
}


